@model IEnumerable<MVC_Library.Models.Book>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Book
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var movie in Model)
        {
            <tr>
                <td>@movie.Title</td>
            </tr>
        }
    </tbody>
</table>

